@{
    ViewBag.Title = "Contact";
}
<div class="container">

    <h2 class="page-header text-center">@ViewBag.Title</h2>
    <h3 class="text-center">
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail:
            <a href="https://adrian94wilk@gmail.com" class=" text-dark">adrian94wilk@gmail.com</a>
        </p>
        <p>Github: <a href="https://github.com/awilk46" class="text-dark">github.com/awilk46</a></p>
    </h3>
</div>
